<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411640124724-j9etvaqnuj18gq9kne14k5p8g84hvvqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411640124724-j9etvaqnuj18gq9kne14k5p8g84hvvqd</string>
	<key>API_KEY</key>
	<string>AIzaSyB20foiftyGoGAQvqzL0txgGzohi_lEWbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411640124724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zalkarbekarapbaev.CocktailsHW</string>
	<key>PROJECT_ID</key>
	<string>coctails-f3896</string>
	<key>STORAGE_BUCKET</key>
	<string>coctails-f3896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411640124724:ios:d787231eabd0a87dd1c161</string>
</dict>
</plist>